<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h2>Results</h2>
    <table>
        <tr>
            <th>Rating</th>
            <th>Percentage</th>
        </tr>
        <tr th:each="entry : ${establishmentData}">
            <td th:text="#{${entry.key}}"></td>
            <td th:text="${entry.value}"></td>
        </tr>
    </table>

</body>
</html>